<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/header.css" />
</head>
<body>
    <img src="images/menu.jpg">
    <nav>
        <ul>
            <li><a href="/"><img src="images/logo.jpg"></a></li>
            <li><a href="/">Acceuil</a></li>
            <li><a href="/antennes">Nos Antennes</a></li>
            <li><a href="/preventions">Prévention</a></li>
            <li><a href="/france_avc">France AVC</a></li>
            <li><a href="/temoignages">Témoignages</a></li>
            <li><a href="/info">Informations</a></li>
            <li><a href="/contact">Nous contacter</a></li>
        </ul>
    </nav>
</body>