<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Informations</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    </head>
    <body>

    <%- include('components/header'); -%>

    <p>page info</p>

    <%- include('components/footer'); -%>

    </body>
</html>